/* font-family: 'Fasthand', cursive;
font-family: 'Kalam', cursive;
font-family: 'Playfair Display', serif; */

*{
    margin: 0;
    padding: 0;
}

.navigation{
    /* padding: 25px; */
    /* height: 100px; */
    background-color: #F7FFE5;
    /* padding: 20px; */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.nav-left{
    font-size: 50px;
    display: flex;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 20px;
}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a:hover{
    font-weight: bolder;
    color: burlywood;
}

.nav-left ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.nav-right{
    display: flex;
}

.content{
    /* margin-top: 15px; */
    /* height: 500px; */
    display: flex;
    /* background-color:#E1ECC8; */
    /* padding: 20px; */
    position: relative;
    z-index: 1;
    /* background-color:cadetblue; */
}

.content::after {
    content: "";
    background-image: url('../images/th\ \(1\).jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
}

.content-left{
    font-family: 'Kalam', cursive;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    z-index: 1;
    /* align-items: center; */
}

.content-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right img{
    /* height: 200px; */
    border: 3px solid black;
    border-radius: 100px;
}

.home-articles{
    /* display: flex; */
    background-color: #C4D7B2;
    /* padding: 20px; */
    position: relative;
}


.year-box{
    position: absolute;
    width: 250px;
    height: 250px;
    /* background-color: red; */
    right: 40px;
    top: 100px;
    cursor: pointer;
    font-size: 18px;
}

.year-box div{
    cursor: pointer;
    margin: 12px 0;
}

.year-box div input{
    cursor: pointer;
}

.home-article{
    width: 500px;
    display: flex;
    margin: 30px;
    padding: 10px;
}

.home-article-img{
    align-self: center;
    padding: 25px;
}

.home-article-img img{
    width: 200px;
    height: 100px;
}

.home-article-content a{
    color: black;
}

.footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:cornflowerblue; */
    color: black;
    background-color: #F7FFE5;
    font-family: 'Playfair Display', serif;
    /* padding: 20px; */
}

.footer a{
    color: black;
}

.contact-form{
    height: 80vw;
}